.footer{
    background-color: #242424 !important;
    margin-top: 50px;
}
.footer h1,p{
    color: gold;
    margin-top: 35px;
    padding-left: 45px;
}
.hrr{
    margin-top: 25px !important;
    border: 2px solid gold;
    width: 80% !important;
    margin: 0 auto;
}
.con{
    display: flex;
    justify-content: flex-end;
}
h1{
    text-align: left;
}
.col-3 p{
    text-align: left;
    margin-top: 20px;
}
.col-4 {
    display: flex;
    justify-content: start !important;
    flex-wrap: wrap;
    text-align: start;
}
.col-4 img{
    width: 100px !important;
    margin: 20px 40px;
}
.air{
    display: flex;
    align-items: center;
    width: 80% !important;
    margin: 0 auto !important;
}
.air p{
    margin-top: 25px;
    text-align: start !important;
    padding: 0 0;
}
.footer_icon{
    color: gold;
    font-size: 35px;
    margin-left: 30px;
}

